
:root{
    --color-primario: #7dcdc4;   
    --color-secundario: #67c3d2;
    --color-terciario: #4a4a4b;
    --color-fondo: #f6f6f6;
    --fuente: 'Century Gothic';
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
    background: var(--color-fondo);
}

body{
    box-sizing: border-box;
    background-color: var(--color-fondo);
    color: var(--color-fondo);
}

.header{
    display: flex;
    padding: auto;
    margin: 40px 100px 0px 40px;
}

.logo{
   display: flex;
   align-items: flex-start;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 3%;
    justify-content: space-evenly;
}

.texto__area{
   width: 680px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.texto__area__encriptar{
    width:680px;
    height: 780px;
    font-size: 32px;
    font-family: var(--fuente);
    font-weight: normal;
    border: none;
    resize: none;
}

.texto__area__encriptar::placeholder,:focus{
    color: var(--color-terciario);
}
.frame{
    display: flex;
}

.container__botones{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.boton__encriptar{
    width: 328px;
    height: 65px;
    background-color: var(--color-primario);
    border-radius: 24px;
    border: 0.5px solid var(--color-terciario);
    font-family: var(--fuente);
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: var(--color-terciario);
    cursor: pointer;
}

.boton__desencriptar{
    width: 328px;
    height: 65px;
    background-color: var(--color-primario);
    border-radius: 24px;
    border: 0.5px solid var(--color-terciario);
    font-family: var(--fuente);
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: var(--color-terciario);
    cursor: pointer;
}

.salida{
    width: 370px;
    height: 944px;
    display: flex;
    margin-top: 26px;
    border-radius: 32px;
    flex-direction: column;
    border: 1px solid var(--color-primario);
    gap: 32px;
    position: relative;
}

.muneco{
    display: flex;
    background: transparent;
    margin-top: 257px;
}

.texto__salida_p{
    font-family: var(--fuente);
    color: var(--color-terciario);
    text-align: center;
    font-weight: bold;
    font-size: 24px;

}

.texto__salida_s{
    font-family: var(--fuente);
    color: var(--color-terciario);
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}

.mensaje__salida{

}