
:root{
    --color-primario: #7dcdc4;   
    --color-secundario: #67c3d2;
    --color-terciario: #4a4a4b;
    --color-fondo: #f6f6f6;
    --fuente: 'Century Gothic';
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 100px 0px 40px;
    position: absolute;
}

    header.logo {
        display: flex;
        width: 64px;
        height: 48px;
        align-items: flex-start;
    }

main{
    display: flex;
    background: var(--color-fondo);
    background-position: center;
    background-size: cover;
    flex-direction: row;
}

.texto__area{
    background: none;
    margin: 168px 0px 0px 240px;
    width: 60%;
}


.texto__area__encriptar{
    height: 48px;
    font-weight: normal;
    font-size: 32px;
    width: 577px;
    line-height: 48px;
    border-radius: 15px;
    border: none;
    resize: none;
}

    .texto__area__encriptar::placeholder,:focus{
        color: var(--color-terciario);
    }

.frame{
    font-style: normal;
    display: flex;
    align-items: center;
    background:none;
    flex-direction: row;
    position: absolute;
    gap: 8px;
    top: 635px;
}

.container__botones{
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    position:absolute;
    gap: 24px;
    top: 669px;
    background: none;

}

.boton__encriptar{
    font-style: normal;
    text-align: center;
    cursor: pointer;
    height: 65px;
    width: 328px;
    background-color: var(--color-primario);
    background: var(--color-primario);
    border: 0.5px solid var(--color-terciario);
    border-radius: 15px;
    padding: 12px;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: var(--color-terciario);
}

body{
 height: 100%;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
    text-decoration: none;
    background: var(--color-fondo);
}
::selection{
    background: var(--color-terciario);
    color: var(--color-fondo);
}




